<% include ../header %>

  <div class="container">
    <div class="page-header">
      <h1>Products</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Football iine</h3>
        <p>サッカー等のスポーツ観戦中にみんなで選手を採点するためのサービス。いいプレーをしたらGood、だめならBad。試合終了後に誰がGoodだったのか。</p>
        <p><a class="btn btn-default" href="http://rocky-beach-2340.herokuapp.com/" role="button">View details<span class="glyphicon glyphicon-chevron-right"></span></a></p>
      </div>
      <div class="col-md-6">
        <h3>Info</h3>
        <p>主にrailsでなにか簡単なもの作りたかっただけ。</p>
        <p>ニコ生での海外サッカー中継のコメント欄にurlのっけて、PRしたが食いつきが悪かった。使いづらいし、試合中誰がいいプレーしたのかすぐにわからないし、観るのに夢中になっているので使わない。</p>
        <ul>
          <li>Rails</li>
          <li>PostgreSQL</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Twitter x Node.js</h3>
        <p>キーワードを含むツイートを集めるサービス。</p>
        <p><a class="btn btn-default" href="http://fcnode.herokuapp.com/" role="button">View details<span class="glyphicon glyphicon-chevron-right"></span></a></p>
      </div>
      <div class="col-md-6">
        <h3>Info</h3>
        <p>twitter連携とnodeを使ってみたかっただけ。</p>
        <ul>
          <li>Rails</li>
          <li>Node.js</li>
          <li>socket.io/li>
          <li>Twitter REST API</li>
        </ul>
      </div>
    </div>
  </div>

<% include ../footer %>
